*, *::before, *::after { 
  box-sizing:border-box; 
}

body {
  font-family: "Noto Sans TC", 'Noto Sans', "Azeret Mono",monospace, sans-serif;
}

li {
  list-style: none;
}

img {
  // max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

// ----------自行設定class---------------
fw-bold {
  font-weight: bold;
}
