
// .front-over {
//   // .container {
//   //   padding-top: 85px;
//   //   padding-bottom: 85px;
//   //   background-image: url('../images/watercolor.png;');
//   //   background-size: cover;
//   //   background-repeat: no-repeat;
//   //   background-position: center;
//   //   @include media-breakpoint-up(md) {
//   //     padding-top: 130px;
//   //     padding-bottom: 130px;
//   //     background-image: url('../images/background-home.jpg');
//   //   }

//     div {
//       background-color: $secondary;
//       max-width: 650px;
//     }
//   }
// }
// -----------------------------------------------------
// header {
//   color: #0b2c53;
//   width: 100%;
//   height: 90vh;
//   background-image: url('../images/tree-gd6992aa71_1280-5.png');
//   background-size: contain;
//   background-repeat: no-repeat;
//   background-position: center;
//   position: relative;

//   &::after {
//     position: absolute; /*絕對定位*/
//     content: ""; /*沒有加這段就不會產生偽元素*/
//     background: $light;
//     width: 100%;
//     height: 90vh;
//     opacity: 0.85;
//     top: 0;
//     left: 0;
//   }

//   .container {
//     h1 {
//       position: absolute;
//       z-index: 1; //絕對定位連疊第二層開始要注意z-index
//     }
//   }
// }

// h1{
//   font-size: 100px;
//   margin-left: 50px;
// }


// -----------------------------------------------------

.subscription {
  background: linear-gradient(135deg, #05C2C5 0%, #8254FB 100%)
}



//-------------------------------------------------------

.intro {
  padding: 64px 0;
  @include media-breakpoint-up(md) {
    padding: 96px 0;
  }

  .side {
    height: 1436px;
    .left-item {
      div {
        border-radius: 12px;
        p {
          line-height: 2;
        }
      }
    }
  }
  
  .topic {
    h2 {
      color: $green2;
    }

    .item {    
      .card-box {
        border: 4px solid $green2;
        border-radius: 12px;
      }

      .card-text {
        p {
          font-size: 18px;
        }
      }
      .btn {
        width: 120px;
        border-color: $purple;
        a {
          color: $purple;
        }
      }
    }
  }
}
// ------------------------------------------------------

