.subscription {
  background: linear-gradient(135deg, #05C2C5 0%, #8254FB 100%);
  input {
    border-radius: 6px;
    border: 0px;
    padding: 5px;
  }

  .submit {
    background-color:#030418;
    color:white;
  }

  .submit[type="submit"]:hover {
    color:#8254FB;
  }
}



//-------------------------------------------------------

.intro {
  padding: 64px 0;
  @include media-breakpoint-up(md) {
    padding: 96px 0;
  }

  .side {
    height: 1436px;
    .left-item {
      div {
        border-radius: 12px;
        p {
          line-height: 2;
        }
      }
    }
  }
  
  .topic {
    h2 {
      color: $green2;
    }

    .item {    
      .card-box {
        border: 4px solid $green2;
        border-radius: 12px;
      }

      .card-text {
        span {
          @include media-breakpoint-up(md){
            font-size: 18px;
          }
        }
      }

      .btn {
        width: 120px;
        border-color: $purple;
        padding: 0px;
        &:hover {
          background-color: #8254FB;
        }

        a {
          width: 100%;
          height: 100%;
          display: inline-table;
          padding: 0.375rem 0.75rem;
          color: $purple;
          &:hover {
            color: white;
          }
        }
      }
    }
  }
}
// ------------------------------------------------------

