.label {
  background: linear-gradient(135deg, #05C2C5 0%, #8254FB 100%);
  .btn {
    white-space: nowrap;
  }

  a {
    color: #fff;
  }

  .btn-outline-white {
    :hover {
      color: $primary;
    }
  }

}

.healthcare {
  h2 {
    color: $green2;
  }

  .resource {
    border-top: 2px solid #05C2C5;
  }

  .cards {
    flex-wrap: wrap;
  }
}