<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@400;700&family=Noto+Sans+TC:wght@400;700&display=swap">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/css/datepicker-bs5.min.css">
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>
 
  <body>
    <header class="front-over">
      <nav class="navbar navbar-expand-md  py-md-4 py-3 mb-9">
        <div class="container">
          <div class="logo">
            <a href="./index.html">
              <img src="./assets/images/logo.svg" width="100" height="42" alt="logo">
            </a>
          </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="material-icons-outlined">
              drag_handle
            </span>
          </button>
          <div class="collapse navbar-collapse ms-auto flex-grow-0" id="navbarSupportedContent">
            <ul class="navbar-nav text-center gap-md-6 gap-2 py-md-0 py-3 mb-0">
              <li class="nav-item fw-bold">
                <a class="nav-link" href="./index.html">Home</a>
              </li>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      
      <p class="text-center d-md-none text-white">懶得看長篇大論嗎？</p>
      <div class="h1-box">
        <p class="text-center d-none d-md-block">懶得看長篇大論嗎？</p>
        <h1 class="text-white mb-6">漲知識了</h1>
        <p class="text-center">讓你隨時吸收豆知識<br>輕鬆獲得小啟發</p>
      </div>

      <img src="./assets/images/ImgBanner.svg" alt="ImgBanner" class="ImgBanner" width="900">
    </header>

    <%- contents %>

    <footer class="container-fluid bg-primary text-center py-5">
      <p class="line-height-sm text-light text-center mb-0">Coding Home © 2022 All Rights Reserved</p>
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>